---
const { resolve } = Astro.props;
const { nombre, descripcion, tipo, aplicaciones } = resolve;
---

<div
    class="flex flex-col gap-y-5 px-4 py-2 rounded-2xl mt-20 w-96 transform scale-90 fixed right-5 bottom-5 !scroll-smooth hover:duration-500 hover:-translate-x-0.5 hover:rotate-3 lg:ml-5 bg-gradient-to-bl from-[#1d4ed8] via-[#1e40af] to-[#111827]"
>
    <h1 class="font-bold text-center tracking-wider text-blue-50 text-2xl">
        {nombre}
    </h1>
    <p class="text-blue-100">
        {descripcion}
    </p>
    <code class="text-blue-100"
        ><strong class="text-red-400">Tipo:</strong>{tipo}</code
    >
    <ul class="text-blue-100">
        <code><strong class="text-red-400">Aplicaciones:</strong></code>
        {aplicaciones.map((dato: string) => <li>{dato}</li>)}
    </ul>
</div>
