<a
    href=""
    class="flex
    flex-col
    items-center
    border-2
    rounded-2xl
    p-2 bg-gradient-to-tl from-[#1e293b] via-[#6366f1] to-[#71717a] text-blue-100
    w-auto"
>
    <slot />
</a>
