<a
    href=""
    class="flex
    flex-col
    items-center
    border-2
    rounded-2xl
    w-auto
    py-2
    px-4
    bg-gradient-to-bl from-[#991b1b] via-[#dc2626] to-[#f87171]"
>
    <slot />
</a>
