<div
    class="bg-gradient-to-tl from-[#1e293b] via-[#6366f1] to-[#71717a] right-5 bottom-5 rounded-4xl p-5 border-2 max-w-lg
    hover:duration-500 hover:-translate-x-0.5 hover:rotate-3 fixed"
>
    <a href="" class="flex flex-col items-center hover:opacity-75">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-rocket text-emerald-400"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"
            ></path><path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path><path
                d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg
        >
        <h1 class="text-2xl text-amber-50">
            Nuevo <code class="text-cyan-100">Logo</code>
        </h1>
        <p class="text-red-200">Lorem ipsum dolor sit.</p>
    </a>
</div>
