---
import info from "../config/info.json";
import Apirandom from "../components/Apirandom.astro"

const datosAPI = await fetch('https://api-page-electronica.onrender.com/electronica')
const resolve = await datosAPI.json()

---


{
    info.map((dato)=>{
        return (
            <h1><strong>{dato.pregunta}</strong></h1>
            <p class="px-4">{dato.respuesta}</p>
        )
    })
}
<!-- API -->

<Apirandom resolve={resolve}/>


