---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Page</title>
	</head>
	<body class="bg-gray-900 p-0 m-0 box-border text-stone-200">
		<Header />
		<main class="w-full pl-5 lg:pl-0 lg:container m-auto">
			<slot />
			<!-- SLOT - Lo que se va a renderizar en cada pagina -->
		</main>
	</body>
</html>
